<%- include('../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/form.css">
<link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
	<main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <input type="hidden" value="<%= passwordToken %>" name="passwordToken">
            <input type="hidden" value="<%= userId %>" name="userId">
            <button class="btn" type="submit">Set New Password</button>
        </form>
	</main>
<%- include('../partials/end.ejs') %>