<%- include('../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="../../public/css/orders.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
	<main>
       <% if (orders.length <= 0) { %>
	       <h1>No orders found</h1>
       <% } else { %>
       		<ul class="order">
       			<% orders.forEach(order => {%>
       				<li class="orders__item">
       					<h1><%= order._id %></h1>
       					<ul class="orders__products">
       						<% order.items.forEach(product => {%>
	       						<li class="orders__products-item"><%= product.title %> (<%= product.quantity %>)</li>
       						<% }); %>
       					</ul>
       				</li>
       			<% }); %>
       		</ul>
       <% } %>
	</main>
<%- include('../partials/end.ejs') %>